ai-service/models/
ai-service/dataset/
ai-service/uploads/
ai-service/pbl4_env/
**/__pycache__/
*.py[cod]
*$py.class
backend/src/main/resources/application.properties
backend/bin/
backend/target/
frontend/node_modules/
frontend/dist/
*.env
uploads/
*.pth
*.pt
*.class
target/
HUONG_DAN_DEMO_KHOA.md
BAO_CAO_TIEN_DO_TUAN_7.md

